# yamllint disable rule:comments-indentation
---
###############################################################################
#                           Authelia Configuration                            #
###############################################################################
# https://github.com/authelia/authelia/blob/v4.39.13/config.template.yml
# https://www.authelia.com/configuration/prologue/introduction/

theme: "auto"
default_2fa_method: "totp"

server:
  address: "tcp://:9091/authelia"
  buffers:
    read: 10485760
    write: 4096

log:
  level: "info"
  format: "text"
  file_path: "/config/logs/authelia.log"
  keep_stdout: false


telemetry:
  metrics:
    enabled: false

totp:
  disable: false
  issuer: "mydomain.com"
  algorithm: "SHA1"
  digits: 6
  period: 30
  skew: 1
  secret_size: 32

webauthn:
  disable: false
  enable_passkey_login: true
  experimental_enable_passkey_uv_two_factors: true
  display_name: "Authelia"
  attestation_conveyance_preference: "indirect"
  timeout: "60 seconds"
  filtering:
    prohibit_backup_eligibility: false
  selection_criteria:
    discoverability: "preferred"
    user_verification: "preferred"
  metadata:
    enabled: false
    cache_policy: "strict"
    validate_trust_anchor: true
    validate_entry: true
    validate_entry_permit_zero_aaguid: false
    validate_status: true
    validate_status_permitted: []
    validate_status_prohibited:
      - "REVOKED"
      - "USER_KEY_PHYSICAL_COMPROMISE"
      - "USER_KEY_REMOTE_COMPROMISE"
      - "USER_VERIFICATION_BYPASS"
      - "ATTESTATION_KEY_COMPROMISE"

identity_validation:
  reset_password:
    jwt_secret: "create_jwt_secret_here"

ntp:
  address: "udp://time.cloudflare.com:123"
  version: 4
  max_desync: "3 seconds"
  disable_startup_check: false
  disable_failure: false

authentication_backend:
  password_reset:
    disable: false
    custom_url: ""
  file:
    path: "/config/users/config.yml"
    password:
      algorithm: "argon2"
      argon2:
        variant: "argon2id"
        iterations: 1
        memory: 1024
        parallelism: 8
        key_length: 32
        salt_length: 16

password_policy:
  standard:
    enabled: false
    min_length: 8
    max_length: 0
    require_uppercase: true
    require_lowercase: true
    require_number: true
    require_special: true

  zxcvbn:
    enabled: false
    min_score: 3

privacy_policy:
  enabled: false
  require_user_acceptance: false
  policy_url: ""

access_control:
  default_policy: "deny"
  networks:
    - name: "internal"
      networks:
        - "192.168.0.254/32"
        - "192.168.0.100/32"
        - "10.10.10.0/24"
        - "10.10.20.0/24"
        - "10.10.30.0/24"
    - name: "work"
      networks:
        - "192.168.1.10/24"
        - "192.168.10.10/24"
  rules:
    - domain: 'auth.mydomain.com'
      policy: 'bypass'
    - domain:
        - "mydomain.com"
        - "*.mydomain.com"
      policy: "bypass"
      networks:
        - "internal"
        - "work"
    - domain:
        - "home.mydomain.com"
        - "*.home.mydomain.com"
      policy: "bypass"
      networks:
        - "internal"
    - domain:
        - "storage.mydomain.com"
        - "*.storage.mydomain.com"
      policy: "bypass"
      networks:
        - "internal"
    - domain: '*.mydomain.com'
      policy: 'two_factor'
    - domain: 'mydomain.com'
      policy: 'two_factor'

session:
  name: "authelia_session"
  secret: "create_secret_session_here"
  expiration: "1h"
  inactivity: "5m"
  remember_me: "1M"
  cookies:
    - domain: "mydomain.com"
      authelia_url: "https://auth.mydomain.com"
      same_site: "lax"
  redis:
    host: redis
    port: 6379
    timeout: '5s'
    max_retries: 0
    password: "from_redis_env_password"
    database_index: 0
    maximum_active_connections: 10
    minimum_idle_connections: 0
      
regulation:
  max_retries: 3
  find_time: "2 minutes"
  ban_time: "30 minutes"

storage:
  encryption_key: "create_encryption_key_here"
  local:
    path: "/config/db/db.sqlite3"

notifier:
  disable_startup_check: false
  smtp:
    address: "smtp://smtp.gmail.com:587"
    timeout: "5 seconds"
    username: "user@gmail.com"
    password: "get_password_from_google"
    sender: "Sender <user@gmail.com>"
    subject: "[Authelia | mydomain.com] {title}"
    tls:
      skip_verify: false
      minimum_version: "TLS1.2"

